body {
    font-family: corinthia 2;
}
.sections{
    padding: 20 px 0;
}
/* Header */
header { 
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
header.logo h1{
    font-size: 20px;
}
header nav .nav-list{
    list-style: none;
    display: flex; 
    justify-content: space-around;
    margin-bottom: 0;
}
hearder nav  .nav-list .list a{
    display: block;
    padding: 15px;
    margin: 9 px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
header .nav-list .list a:hover{
    color: #7cb62f;
}
.list{
    height: 200;
}
.section .list{
    padding: 20px;
    margin: 10px 0
}


